.align-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "NimbusBold";
  src: url("./Fonts/NimbusSanL-Bol.otf");
}

@font-face {
  font-family: "NimbusRegular";
  src: url("./Fonts/NimbusSanL-Reg.otf");
}

@font-face {
  font-family: "AvantGardeGothicBold";
  src: url("./Fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.ttf");
}

@font-face {
  font-family: "AvantGardeGothicRegular";
  src: url("./Fonts/itc-avant-garde-gothic-lt-book.ttf");
}

.title{
  font-family: 'AvantGardeGothicBold';
  font-size: 100px;
  line-height: 1em;
}

.subtitle{
  font-family: 'AvantGardeGothicRegular';
  font-size: 20px;
  margin-top : 2em;
  text-align: center;
}

.back-arrow{
  height: 60px;
  margin-top : 20px;
  margin-left : 20px;
  cursor : pointer;
}

.blob.red {
	color : red;
	animation: pulse-red 2s infinite;
  cursor : pointer;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		color: red;
	}
	
	70% {
		transform: scale(1);
		color:  rgba(255, 58, 58, 0);
	}
	
	100% {
		transform: scale(0.95);
		color:  rgba(255, 67, 67, 0);
	}
}

.path{
  margin-top : 80px;
  margin-bottom : 80px;
  margin-left : 40px;
}

.path-title{
  font-family: 'AvantGardeGothicRegular';
  font-size : 26px;
  color : red;
}

.path-subtitle{
  font-family: 'AvantGardeGothicRegular';
  font-size : 16px;
  color : black;
}








.typewriter div:nth-child(1) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(40,end) forwards;
}

.typewriter div:nth-child(2) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 3s forwards;
}

.typewriter div:nth-child(3) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 6s forwards;
}

.typewriter div:nth-child(4) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 9s forwards;
}

.typewriter div:nth-child(5) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 12s forwards;
}

.typewriter div:nth-child(6) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 15s forwards;
}

.typewriter-work-experience div:nth-child(1) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(40,end) forwards; 
}

.typewriter-work-experience div:nth-child(3) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 3s forwards;
}

.typewriter-work-experience div:nth-child(5) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 6s forwards;
}

.typewriter-work-experience div:nth-child(7) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 9s forwards;
}

.typewriter-work-experience div:nth-child(9) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 12s forwards;
}

@keyframes shring-animation {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
    border-right: 1px solid black;
  }
  50% {
    opacity: 1;
    border-right: 1px solid black
  }
  100% {
    opacity: 1;
    border-right: none;
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid black;
  }
  100%{
    border-right: none;
  }
}