.align-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "NimbusBold";
  src: url("./Fonts/NimbusSanL-Bol.otf");
}

@font-face {
  font-family: "NimbusRegular";
  src: url("./Fonts/NimbusSanL-Reg.otf");
}

@font-face {
  font-family: "AvantGardeGothicBold";
  src: url("./Fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.ttf");
}

@font-face {
  font-family: "AvantGardeGothicRegular";
  src: url("./Fonts/itc-avant-garde-gothic-lt-book.ttf");
}

@font-face {
  font-family: "HungryCharlie";
  src: url("./Fonts/HungryCharlie-Serif.ttf");
}

.chez{
  font-family : "HungryCharlie";
  font-size : 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chez .red{
  color : red;
}

.chez-sup{
  font-family : "HungryCharlie";
  font-size : 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.flipH {
  animation: mirrorText 2.5s forwards;
}

.flipHStatic{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.vertical-aligned{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes mirrorText {
  from {
    
  }
  to {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

.project-title{
  font-family: 'AvantGardeGothicBold';
  font-size: 50px;
  line-height: 1em;
  display : flex;
  justify-content : center;
  margin-top : 45px;
}

.project-label{
  font-family: 'AvantGardeGothicBold';
  font-size: 25px;
  line-height: 1em;
  display : flex;
  justify-content : center;
}

.project-description{
  font-family: 'AvantGardeGothicRegular';
  font-size: 20px;
  line-height: 1em;
  margin-top : 60px;
  padding : 0px 450px;
  text-align: justify;
}

.project-short-description{
  font-family: 'AvantGardeGothicRegular';
  font-size: 20px;
  line-height: 1em;
  margin-top : 100px;
  padding : 0px 600px;
}

.project-location-description {
  padding: 0px 0px;
  font-family: 'AvantGardeGothicRegular';
  font-size : 16px;
  width: 20%;
  text-align:justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-top-view-description{
  font-family: 'AvantGardeGothicRegular';
  font-size : 16px;
  padding : 0px 400px;
  text-align: center;
}

.carousel-description{
  font-family: 'AvantGardeGothicRegular';
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 5em;
  margin-top : -20px;
}

.carousel-indicators{
  display: none !important;
}

.carousel-no-arrow{
  .carousel-control-next{
    display: none !important;
  }
  .carousel-control-prev{
    display: none !important;
  }
}

.carousel-no-left-arrow{
  .carousel-control-prev{
    display: none !important;
  }
}

.carousel-no-right-arrow{
  .carousel-control-next{
    display: none !important;
  }
}


.title{
  font-family: 'AvantGardeGothicBold';
  font-size: 100px;
  line-height: 1em;
}

.title-row{
  text-align : center;
}

.title-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.vertical-center-second-column {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.vertical-center-thats-me {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-loading {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thats-me-center {
  position: fixed;
  left: 50%;
  top : 50%;
  transform: translate(-50%, -65%);
}

.vertical-and-orizontal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orizontal-center{
  display: flex;
  justify-content: center;
  margin-top : 120px;
}

.subtitle{
  font-family: 'AvantGardeGothicRegular';
  font-size: 18px;
  margin-top : 2em;
  text-align: center;
}

.small-title{
  font-family: 'AvantGardeGothicBold';
  font-size: 35px;
  line-height: 1em;
}

.back-arrow{
  height: 60px;
  margin-top : 20px;
  margin-left : 20px;
  cursor : pointer;
}

.blob.red {
	color : red;
	animation: pulse-red 2s infinite;
  cursor : pointer;
}

.pattern-path-details-left{
  position: relative;
  animation: leftmove 1s forwards;
}

.pattern-path-details-left-back{
  position: relative;
  animation: leftmoveback .5s forwards;
}

.pattern-path-details-right{
  position: relative;
  animation: rightmove 1s forwards;
}

.pattern-path-details-right-back{
  position: relative;
  animation: rightmoveback .5s forwards;
}

@keyframes leftmove {
  from {
    left: 0px;
  }
  to {
    left: -150px;
    transform: rotate(-45deg);
  }
}

@keyframes leftmoveback {
  from {
    left: -150px;
  }
  to {
    left: 0px;
    transform: rotate(0deg);
  }
}

@keyframes rightmove {
  from {
    right: 0px;
  }
  to {
    right: -150px;
    transform: rotate(-45deg);
  }
}

@keyframes rightmoveback {
  from {
    right: -150px;
  }
  to {
    right: 0px;
    transform: rotate(0deg);
  }
}

.personal-path-page-container{
  display: flex;
}

.personal-path-page-block1{
  width : 50%;
}

.personal-path-page-block2{
  width: 50%;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		color: red;
	}
	
	70% {
		transform: scale(1);
		color:  rgba(255, 58, 58, 0);
	}
	
	100% {
		transform: scale(0.95);
		color:  rgba(255, 67, 67, 0);
	}
}

.path{
  margin-top : 80px;
  margin-left : 40px;
  margin-bottom : -30px;
}

.path-title{
  font-family: 'AvantGardeGothicRegular';
  font-size : 26px;
  color : red;
}

.path-subtitle{
  font-family: 'AvantGardeGothicRegular';
  font-size : 16px;
  color : black;
}

.rotate {
  width: 100px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



/*Mobile view*/
@media (max-width: 650px) {
  .title{
    font-family: 'AvantGardeGothicBold';
    font-size: 40px;
    line-height: 1em;
  }

  .subtitle{
    font-family: 'AvantGardeGothicRegular';
    font-size: 12px;
    margin-top : 1em;
    text-align: center;
  }

  .thats-me-center {
    position: fixed;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    height: 200px;
    z-index : -2;
  }

  .personal-path-page-container{
    display: block;
  }

  .personal-path-page-block1{
    width : 100%;
  }

  .personal-path-page-block2{
    width: 100%;
    margin-bottom : 40px;
  }

  .vertical-center {
    position:relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    display: flex;
    justify-content: center;
  }

}








.typewriter div:nth-child(1) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(40,end) forwards;
}

.typewriter div:nth-child(2) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 3s forwards;
}

.typewriter div:nth-child(3) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 6s forwards;
}

.typewriter div:nth-child(4) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 9s forwards;
}

.typewriter div:nth-child(5) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 12s forwards;
}

.typewriter div:nth-child(6) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 15s forwards;
}

.typewriter-work-experience div:nth-child(1) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(40,end) forwards; 
}

.typewriter-work-experience div:nth-child(3) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 3s forwards;
}

.typewriter-work-experience div:nth-child(5) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 6s forwards;
}

.typewriter-work-experience div:nth-child(7) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 9s forwards;
}

.typewriter-work-experience div:nth-child(9) {
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: shring-animation 3s steps(40,end) 12s forwards;
}

@keyframes shring-animation {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
    border-right: 1px solid black;
  }
  50% {
    opacity: 1;
    border-right: 1px solid black
  }
  100% {
    opacity: 1;
    border-right: none;
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid black;
  }
  100%{
    border-right: none;
  }
}